.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 16px 0;
  border-bottom: 1px solid #000000;
}
.logo {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.list {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.listItem {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.listItem:first-child:before {
  content: '';
  position: absolute;
  bottom: -5px;
  border: 1px solid #000000;
  width: 100%;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border: 1px transparent solid;
  background-color: #f5f5f5;
  padding: 10px 20px;
  border-radius: 6px;
}

.input {
  border: none;
  background-color: #f5f5f5;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
}

.account {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.favourites {
  width: 20px;
  height: 17.83px;
}

.cart {
  width: 18.92px;
  height: 20.5px;
}
.user {
  width: 17px;
  height: 17px;
}
.cartWrapper {
  position: relative;
}

.cartIndicator {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  right: 0;
  margin-right: -5px;
  border-radius: 50%;
  background-color: #db4444;
  color: #fff;
  font-size: 10px;
  text-align: center;
}
