.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.columns {
  flex: 0 0 33.333%;
  margin-bottom: 20px;
}
.columns img {
  width: 200px;
  height: 200px;
}
.columns span {
  display: block;
}
